cmake-build-debug
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
.idea
compile_commands.json
./include/*
include
Rex
*.ta
*.tao
Rex.cbp
JSONMerge
/cppcheck-report
.vscode
.swp
*.log
*.csv
objectFiles
